.button1 {
top:25%;
left:13%;
width:250px;
height:150px;
position: absolute;
z-index: 2;
background: orange; 
}
.button2 {
top:25%;
left:40%;
width:250px;
height:150px;
position: absolute;
z-index: 2;
background: orange; 
}
.button3 {
top:25%;
left:67%;
width:250px;
height:150px;
position: absolute;
z-index: 2;
background: orange; 
}
.button4 {
top:55%;
left:13%;
width:250px;
height:150px;
position: absolute;
z-index: 2;
background: orange; 
}
.button5 {
top:55%;
left:40%;
width:250px;
height:150px;
position: absolute;
z-index: 2;
background: orange; 
}