{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block content %}
<div class="container">
	<div class="jumbotron">
		<h2><strong>Change password</strong></h2>
			<form method="post">
			  {% csrf_token %}
			    {{form|crispy}}
			    <br>
			    <button class = "btn btn-primary" type="submit">Save changes</button>
			</form>
			<br>
			<button class="btn btn-danger" onclick=location.href="{% url 'Moddle:redirect_user_type' %}">Cancel</button>
			</br>
</div>
</div>
{% endblock content %}