{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block content %}
<div class="container" style="width: 500px">
	<div class="jumbotron text-center" >
      <h5 class="display-7">Edit course infomation of course ID: {{ course_id }}</h5>
      <form action="{% url 'Moddle:edit_course' course_id %} " method="post">
        {% csrf_token %}
        {{form|crispy}}
        <br>
        <button class= "btn btn-primary"name="submit">Save changes</button>
      </form>
      <br>
       <button class="btn btn-primary" onclick=location.href="{% url 'Moddle:course_info' course_id %}">Back</button>
  </div>
</div>

{% endblock content %}
