{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block content %}
<div class="container" style="width: 500px">
	<div class="jumbotron text-center" >
		<h2><strong>Add new course</strong></h2>
		<form method="post" action="{% url 'Moddle:new_course' %}">
			{% csrf_token %}
			{{form|crispy}}
			<br>
			<button name="submit" class="btn btn-primary">Add Course</button>
			<input type="hidden" name="next" value="{% url 'Moddle:teacher' %}"/>
		</form>
	</div>
</div>
{% endblock content %}
