{% extends "base.html" %}
{% load static %}
{% block content %}
  <div class="container" id="user_infor_card">
        <h4 class="card-title">Information</h4>
        <div class="card">
            <div class="card-header">
                    <label for="user_id"><b>User ID</b>: {{ user_id }}</label>
                    <br>
                    <label for="first_name"><b>First Name</b>: {{ first_name }}</label>
                    <br>
                    <label for="last_name"><b>Last Name</b>: {{last_name}}</label>
                    <br>
                    <label for="date_of_birth"><b>Date of Birth</b>: {{dob}}</label>
                    <br>
                    <label for="gender"><b>Gender</b>: {{gender}}</label>
                    <br>
                    <label for="Address"><b>Address</b>: {{address}}</label>
                    <br>
                    <label for="Gmail"><b>Gmail</b>: {{email}}</label>
                    <br>
                    <label for="Organization"><b>Organization</b>: {{Organization}}</label>
                    <br>
                    <button id="edit-info" onclick=location.href="{% url 'Moddle:student_form'%}">Edit information</button>
            </div>
    </div>
{% endblock content %}