{% extends "base.html" %}
{% load static %}
{% block content %}
       <button class="button1" onclick=location.href="{% url 'Moddle:teacher_info' %}" name="button" method="POST">Information</button>
       <button class="button2" type="button2" name="button2">Courses</button>
       <button class="button3" type="button" name="button3">Register Course</button>
       <button class="button4" type="button" name="button4">Change password</button>
       <button class="button2" type="button2" onclick=location.href="{% url 'Moddle:course_home' %}">Courses</button>
       <button class="button3" type="button" name="button3">Register Course</button>
       <button class="button4" onclick=location.href="{% url 'Moddle:change_password' %}" type="button" name="button4">Change password</button>
       <button class="button4" type="button" name="button4" onclick=location.href="{% url 'Moddle:upload_file' %}">Document</button>
       <button class="button5" type="button" name="button5">Log out</button>
{% endblock content %}
