<div class="card-body">
                <h4 class="card-title">Courses</h4>
                <div class="card" id="each-course">
                    <div class="card-body">

                        <h5 class="card-title" id="course-name"><i class="fa fa-book"></i><a href="#" id="link-course">Mon 1</a></h5>
                        <div class="card">
                            <div class="card-body">
                                <p class="card-text">Teacher: <a href="" id="link-course">Teacher name</a> </p>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-body">

                        <h5 class="card-title" id="course-name"><i class="fa fa-book"></i><a href="#" id="link-course">Mon 1</a></h5>
                        <div class="card">
                            <div class="card-body">
                                <p class="card-text">Teacher: <a href="" id="link-course">Teacher name</a> </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
